.Parent{
    height: 100px;
    width: 100%;
    position: relative;
    box-shadow: 1px 4px 81px -58px rgba(61,45,45,1);
-webkit-box-shadow: 1px 4px 81px -58px rgba(61,45,45,1);
-moz-box-shadow: 1px 4px 81px -58px rgba(61,45,45,1);
background-color: rebeccapurple;
}
.contents{
    float: right;
    justify-content: space-between;
    margin-top: 30px;
    background-color: rebeccapurple;
    margin-right: 20px;
}
a{
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    background-color: rebeccapurple;
    color: white;
    font-size: 25px;
}
.Parent h1{
    padding-left: 50px;
    float: left;
    margin-top: 30px;
    background-color: rebeccapurple;
    color: white;
}